@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap");

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 6.3rem;
  margin: 0 auto;
}

.title {
  font-family: "Balsamiq Sans", cursive;
  font-weight: bolder;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 800;
  color: #c51162; 

  flex-grow: 1;
  align-self: flex-end;
  padding-top: 2rem;
}

.toolBar {
  min-height: 128;
  align-items: flex-start;
}

@media (max-width: 770px) {
  .form {
    margin: 0 2%;
  }
}
